{% extends "base.html" %}
{% block body %}
<h1>出貨單</h1>
<table>
<colgroup>
  <col style="width:60px;">
  <col style="width:100px;">
  <col style="width:90px;">
  <col style="width:110px;">
  <col style="width:130px;">
  <col style="width:140px;">
  <col>
  <col style="width:70px;">
  <col style="width:80px;">
</colgroup>
<tr><th>#</th><th>日期</th><th>類型</th><th>負責人</th><th>工號</th><th>業主</th><th>案名</th><th class="right">明細</th><th></th></tr>
{% for r in rows %}
<tr>
  <td><a href="/outbound/{{ r.id }}">#{{ r.id }}</a></td>
  <td>{{ r.date }}</td>
  <td><span class="badge {{ 'surplus_transfer' if r.type=='surplus_transfer' else 'normal_t' }}">{{ '餘料轉撥' if r.type=='surplus_transfer' else '正常' }}</span></td>
  <td>{{ r.signer or '' }}</td>
  <td>{{ r.job_no or '' }}</td>
  <td>{{ r.owner or '' }}</td>
  <td style="white-space:normal; word-break:break-word;">{{ r.project_name or '' }}</td>
  <td class="right">{{ r.lines }}</td>
  <td class="right">
    <form method="post" action="/outbound/{{ r.id }}/del" style="display:inline" onsubmit="return confirm('刪除此單會回沖庫存，確定?')">
      <button class="btn danger" type="submit">刪除</button>
    </form>
  </td>
</tr>
{% endfor %}
</table>
{% endblock %}
