{% extends "base.html" %}
{% from "_icons.html" import delete_form %}
{% block body %}
<h1>工號 / 案件</h1>
<div class="row">
  <a class="btn ghost" href="/projects/import">📥 從 Excel 匯入</a>
</div>
<div class="card">
<form method="post" action="/projects/new" class="row">
  <label>工號<input type="text" name="job_no" required placeholder="J114-12-396"></label>
  <label>業主<input type="text" name="owner"></label>
  <label style="flex:1;">案名<input type="text" name="project_name" style="width:100%"></label>
  <button type="submit">新增</button>
</form>
</div>
<table>
<tr><th>工號</th><th>業主</th><th>案名</th><th></th></tr>
{% for r in rows %}
<tr>
  <td><a href="/projects/{{ r.id }}">{{ r.job_no }}</a></td>
  <td>{{ r.owner or '' }}</td>
  <td>{{ r.project_name or '' }}</td>
  <td class="right">{{ delete_form('/projects/' ~ r.id ~ '/del') }}</td>
</tr>
{% endfor %}
</table>
{% endblock %}
