{% extends "base.html" %}
{% from "_icons.html" import delete_form %}
{% block body %}
<h1>供應商</h1>
<div class="card">
<form method="post" action="/suppliers/new" class="row">
  <label>供應商名稱<input type="text" name="name" required></label>
  <button type="submit">新增</button>
</form>
</div>
<table>
<tr><th>ID</th><th>名稱</th><th></th></tr>
{% for r in rows %}
<tr><td>{{ r.id }}</td><td>{{ r.name }}</td>
  <td class="right">{{ delete_form('/suppliers/' ~ r.id ~ '/del') }}</td>
</tr>
{% endfor %}
</table>
{% endblock %}
